.vue-color
  color #42b983

.forest-green-color
  color #228B22

.blue-color
  color #00BFFF

.grey-color
  color #757575

.grey-bg
  background rgba(27,31,35,.05)
  padding .25rem .5rem
  border-radius 3px
  margin 0
  font-size: .85em

.pink-color
  color #F48FB1

.bold-font
  font-size 18px

.gradients-color-one
  background-image -webkit-linear-gradient(left, #22c1c3, #fdbb2d 25%, #22c1c3 50%, #fdbb2d 75%, #22c1c3)
  -webkit-text-fill-color transparent
  -webkit-background-clip text
  -webkit-background-size 200% 100%
  -webkit-animation myGradientChange 4s infinite linear
  animation myGradientChange 4s infinite linear

.gradients-color-two
  background-image: -webkit-linear-gradient(left,
   #fdbb2d, #22c1c3 25%, #fdbb2d 50%, #22c1c3 75%, #fdbb2d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: myGradientChange 4s infinite linear;
  animation: myGradientChange 4s infinite linear;

@keyframes myGradientChange
  0%
    background-position: 0 0
  100%
    background-position: -100% 0
